In [17]:
import pandas as pd

In [18]:
car = pd.read_csv("/content/car.csv")
car.head()

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0
2  Acura         TSX 4dr  Sedan   Asia  ...        29.0  3230.0     105.0   183.0
3  Acura          TL 4dr  Sedan   Asia  ...        28.0  3575.0     108.0   186.0
4  Acura      3.5 RL 4dr  Sedan   Asia  ...        24.0  3880.0     115.0   197.0

[5 rows x 15 columns]

In [19]:
car.shape

(432, 15)

In [20]:
car.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [26]:
car['Cylinders'].fillna(car['Cylinders'].mean(),inplace = True)

In [ ]:
car

In [23]:
car.head(2)

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0

[2 rows x 15 columns]

In [24]:
car['Make'].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Chrysler         15
Volkswagen       15
Mitsubishi       13
Dodge            13
Jaguar           12
Volvo            12
Hyundai          12
Subaru           11
Pontiac          11
Kia              11
Mazda            11
Lexus            11
Lincoln           9
Mercury           9
Buick             9
Infiniti          8
Cadillac          8
Saturn            8
Suzuki            8
GMC               8
Saab              7
Acura             7
Porsche           7
Land Rover        3
Oldsmobile        3
Jeep              3
Isuzu             2
MINI              2
Scion             2
Hummer            1
Name: Make, dtype: int64

In [27]:
car[car['Origin'].isin(['Asia','Europe'])]

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[281 rows x 15 columns]

In [29]:
car[car['Weight'] > 4000]

           Make                           Model  ... Wheelbase Length
0         Acura                             MDX  ...     106.0  189.0
15         Audi  A4 3.0 Quattro convertible 2dr  ...     105.0  180.0
17         Audi              A6 4.2 Quattro 4dr  ...     109.0  193.0
18         Audi                A8 L Quattro 4dr  ...     121.0  204.0
20         Audi                        RS 6 4dr  ...     109.0  191.0
..          ...                             ...  ...       ...    ...
405  Volkswagen                      Touareg V6  ...     112.0  187.0
415  Volkswagen                     Phaeton 4dr  ...     118.0  204.0
416  Volkswagen                 Phaeton W12 4dr  ...     118.0  204.0
419  Volkswagen                       Passat W8  ...     106.0  184.0
420       Volvo                         XC90 T6  ...     113.0  189.0

[103 rows x 15 columns]

In [30]:
428-135

293

In [31]:
car.head(2)

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0

[2 rows x 15 columns]

In [32]:
car['MPG_City'] = car['MPG_City'].apply(lambda x:x+3)

In [33]:
car

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[432 rows x 15 columns]